---
import ExperienceCard from '../ui/ExperienceCard.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const experience = await getCollection('experience')
const renderedExperiences = await Promise.all(
  experience
    .slice(0, 2)
    .sort((a, b) => a.data.order - b.data.order)
    .map((exp: CollectionEntry<'experience'>) => exp.render())
)
---

<section class="border-l-4 border-black ml-2">
  <ul class="experience-list -ml-2.5 pb-2">
    {
      experience
        .slice(0, 2)
        .sort((a, b) => a.data.order - b.data.order)
        .map((exp, index) => {
          const { Content } = renderedExperiences[index]
          return (
            <li class="flex items-start mb-4">
              <span class="p-1 w-1 border-4 border-black mt-2 bg-card-ruby " />
              <ExperienceCard
                company={exp.data.company}
                position={exp.data.position}
                startDate={exp.data.startDate}
                endDate={exp.data.endDate}
                current={exp.data.current}
              >
                <div class="">
                  <Content />
                </div>
              </ExperienceCard>
            </li>
          )
        })
    }
  </ul>
</section>
