---
import ExperienceCard from '../ui/ExperienceCard.astro'
import { getCollection } from 'astro:content'

const experience = await getCollection('experience')
---

<section class="border-l-4 border-black ml-4">
  <ul class="experience-list -ml-2.5">
    {
      experience
        .sort((a, b) => a.data.order - b.data.order)
        .map((exp) => (
          <li class="flex items-start  ">
            <span class="p-1 w-1 border-4 border-black mt-2 bg-card-ruby " />
            <ExperienceCard
              company={exp.data.company}
              position={exp.data.position}
              startDate={exp.data.startDate}
              endDate={exp.data.endDate}
              current={exp.data.current}
            >
              <p>{exp.body}</p>
            </ExperienceCard>
          </li>
        ))
    }
  </ul>
</section>
