---
import ExperienceCard from '../ui/ExperienceCard.astro'
import { getCollection } from 'astro:content'

const experience = await getCollection('experience')
---

<section class="">
  <ul class="experience-list">
    {
      experience
        .sort((a, b) => a.data.order - b.data.order)
        .map((exp) => (
          <li class="list-disc">
            <ExperienceCard
              company={exp.data.company}
              position={exp.data.position}
              startDate={exp.data.startDate}
              endDate={exp.data.endDate}
              current={exp.data.current}
            >
              <p>{exp.body}</p>
            </ExperienceCard>
          </li>
        ))
    }
  </ul>
</section>
