---
import ProjectCard from '../ui/ProjectCard.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<section class="projects-section">
  <ul class="flex flex-col gap-2">
    {
      projects
        .sort((a, b) => a.data.order - b.data.order)
        .slice(0, 1)
        .map((project) => (
          <li class="project-item">
            <ProjectCard
              title={project.data.title}
              description={project.data.description}
              technologies={project.data.technologies}
              links={project.data.links}
              image={project.data.image}
            />
          </li>
        ))
    }
  </ul>
</section>
